@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.menu-btn {
  cursor: pointer;
  height: 50px;
  width: 50px;
  border-radius: 5px;
}

.line_1,
.line_2,
.line_3 {
  display: block;
  width: 100%;
  transition: all 0.3s ease-in-out;
  margin-left: 10px;
}

.line_1,
.line_3 {
  height: 1px;
}

.line_2,
.line_3 {
  margin-top: 8px;
}

.line_1 {
  background-color: #fff;
  width: 15px;
  margin-top: 15px;
}

.line_2 {
  background-color: #a6bfed;
  height: 2px;
  width: 30px;
}

.line_3 {
  background-color: #fff;
  width: 5px;
}

.menu-btn.active .line_1 {
  transform: translateY(8px) rotate(45deg);
}

.menu-btn.active .line_2 {
  opacity: 0;
}

.menu-btn.active .line_3 {
  transform: translateY(-8px) rotate(-45deg);
}

.menu-open .line_1 {
  transform: translateY(9px) rotate(45deg);
  width: 60%;
}

.menu-open .line_2 {
  opacity: 0;
}

.menu-open .line_3 {
  transform: translateY(-9px) rotate(-45deg);
  width: 60%;
}

.menu__item {
  font-size: 40px;
  color: #2563eb;
  font-weight: bold;
}

.area_detail,
.genre_detail,
.search_detail,
.resavation_detail {
  position: relative;
  display: inline-block;
  width: 100%;
}

.resavation_detail select {
  appearance: none;
  font-weight: bold;
  width: 100%;
  height: 100%;
  padding-right: 30px;
}

.area_detail::before,
.genre_detail::before,
.resavation_detail::before {
  content: "";
  position: absolute;
  top: 50%;
  width: 0;
  height: 0;
  margin-top: -5px;
  pointer-events: none;
}

.resavation_detail::before {
  right: 40px;
  border-top: 11px solid #dcdcdc;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
}

.area_detail::before,
.genre_detail::before {
  top: 50%;
  right: 10px;
  border-top: 15px solid #dcdcdc;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.area_detail::after,
.genre_detail::after {
  content: "";
  position: absolute;
  top: 25%;
  right: 0;
  width: 2px;
  height: 50%;
  background-color: #dcdcdc;
}

.arrow_btn::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%) rotate(225deg);
  width: 12px;
  height: 12px;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
}

#search-icon {
  position: absolute;
  width: 2rem;
  background-size: contain;
  padding-left: 2.5rem;
  top: 50%;
  transform: translateY(-50%);
}

.carender-icon {
  position: absolute;
  top: 50%;
  left: 210px;
  transform: translateY(-50%);
  cursor: pointer;
}

.star {
  color: #a09a9a;
}

.card-container {
  width: calc(100% - 0.5rem);
}

@media (min-width: 768px) {
  .card-container {
    width: calc(100% - 0.75rem);
  }
}

.tab {
  width: full;
}

.tab-menu {
  display: flex;
}

.tab-menu__item {
  text-align: center;
  padding: 10px 0;
  cursor: pointer;
  list-style: none;
  width: 100px;
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}

.tab-menu__item:not(:first-child) {
  border-left: none;
}

.tab-menu__item.active {
  background: #3b82f6;
  color: white;
}

.tab-content {
  height: full;
  border: 1px solid #000;
}

.tab-content__item {
  display: none;
}

.tab-content__item.show {
  display: block;
}

.shop-description {
  word-wrap: break-word;
}
